In [1]:
import pandas as pd
import time
import datetime
import numpy as np

In [2]:
PATH_TO_DATA = 'Data'
TEST_FILE = 'looking_for_spy.csv'

In [3]:
def read_data(folder, file):
    df = pd.read_csv(folder + '/' + file)
    return df

In [4]:
spy_df = read_data(PATH_TO_DATA, TEST_FILE)

In [5]:
spy_df.head()

,Unnamed: 0,mcc,tranccy,ccy,amount,location,trandatetime,clientid,year,month,day,hour,country,city,institution,exchenge
0,0,13,978,980,-0.123179,TRAMBESOS SANT JOAN DES ES,1385977762,13,2013,December,Monday,11,ES,no city,TRAMBESOS,1.0
1,1,44,978,980,-0.118505,ZARA BARCELONA P GRACIABARCELONA ES,1385991764,13,2013,December,Monday,15,ES,BARCELONA,ZARA BARCELONA P GRACI,1.0
2,2,37,978,980,-0.110927,CAFE DE L'ACADEMIA BARCELONA ES,1385999148,13,2013,December,Monday,17,ES,BARCELONA,CAFE DE L'ACADEMIA,1.0
3,3,77,978,980,-0.110676,2D BCN DISSENY EN BIJUTBARCELONA ES,1385999979,13,2013,December,Monday,17,ES,BARCELONA,2D BCN DISSENY EN BIJU,1.0
4,4,44,978,980,-0.083314,EL GANSO BARCELONA ES,1386005648,13,2013,December,Monday,19,ES,BARCELONA,EL GANSO,1.0

In [6]:
spy_df['year'].unique()

array([2013, 2014, 2015], dtype=int64)

In [7]:
year_selected = spy_df[spy_df['year'] == 2015]

In [8]:
year_selected.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 57846 entries, 33928 to 92699
Data columns (total 16 columns):
Unnamed: 0      57846 non-null int64
mcc             57846 non-null object
tranccy         57846 non-null int64
ccy             57846 non-null int64
amount          57845 non-null float64
location        57846 non-null object
trandatetime    57846 non-null int64
clientid        57846 non-null int64
year            57846 non-null int64
month           57846 non-null object
day             57846 non-null object
hour            57846 non-null int64
country         57846 non-null object
city            57846 non-null object
institution     57846 non-null object
exchenge        57846 non-null float64
dtypes: float64(2), int64(7), object(7)
memory usage: 7.5+ MB

In [9]:
year_selected['month'].unique()

array(['January', 'February', 'March', 'April', 'May', 'June', 'July'], dtype=object)

In [10]:
month_selected = year_selected[year_selected['month']=='July']

In [11]:
month_selected.head()

,Unnamed: 0,mcc,tranccy,ccy,amount,location,trandatetime,clientid,year,month,day,hour,country,city,institution,exchenge
84315,84315,34,980,980,-0.134598,"DN00/Gorkogo str., 176 KIEV UA",1435734537,4685,2015,July,Wednesday,10,UA,KYIV,"DN00/Gorkogo str., 176",0.0
84316,84316,34,980,980,-0.165567,"DN00/Syrovtsa str.,27/2DNEPRODZER-SK UA",1435739733,2335,2015,July,Wednesday,11,UA,DNDZERZHYNSK,"DN00/Syrovtsa str.,27/",0.0
84317,84317,34,980,980,-0.165567,"DN00/Syrovtsa str.,27/2DNEPRODZER-SK UA",1435739781,2335,2015,July,Wednesday,11,UA,DNDZERZHYNSK,"DN00/Syrovtsa str.,27/",0.0
84318,84318,34,980,980,-0.165567,"DN00/Syrovtsa str.,27/2DNEPRODZER-SK UA",1435739815,2335,2015,July,Wednesday,11,UA,DNDZERZHYNSK,"DN00/Syrovtsa str.,27/",0.0
84319,84319,34,980,980,-0.165567,"DN00/Syrovtsa str.,27/2DNEPRODZER-SK UA",1435739848,2335,2015,July,Wednesday,11,UA,DNDZERZHYNSK,"DN00/Syrovtsa str.,27/",0.0

In [12]:
country_selected = month_selected[month_selected['country']=='UA']

In [13]:
country_selected.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7081 entries, 84315 to 92699
Data columns (total 16 columns):
Unnamed: 0      7081 non-null int64
mcc             7081 non-null object
tranccy         7081 non-null int64
ccy             7081 non-null int64
amount          7081 non-null float64
location        7081 non-null object
trandatetime    7081 non-null int64
clientid        7081 non-null int64
year            7081 non-null int64
month           7081 non-null object
day             7081 non-null object
hour            7081 non-null int64
country         7081 non-null object
city            7081 non-null object
institution     7081 non-null object
exchenge        7081 non-null float64
dtypes: float64(2), int64(7), object(7)
memory usage: 940.4+ KB

In [16]:
sorted(country_selected['city'].unique().tolist())

['BALAKLEYA',
 'BARANYNTSI',
 'BELAYA TSERKO',
 'BOLSHIE LAZY',
 'BORYSPIL',
 'BROVARY',
 'BUCHA',
 'BUZOVA',
 'CHERKASSY',
 'CHERNIVTSI',
 'DERGACHI',
 'DNDZERZHYNSK',
 'DNEPROPETR-SK',
 'DONETSK',
 'FURMANKA',
 'HODOSIVKA',
 'ILYICHEVSK',
 'IRPIN',
 'IRSHAVA',
 'IVANO-FRANK.',
 'KALYNIVKA',
 'KARLIVKA',
 'KHARKOV',
 'KHMELNITSKIY',
 'KINCHESH',
 'KLYACHANOVO',
 'KOROVIYA',
 'KRAKOVETS',
 'KREMENCHUG',
 'KYIV',
 'LADYZHYNKA',
 'LITIN',
 'LUTSK',
 'LVOV',
 'MIZIKEVYCHA',
 'MOSCOW',
 'MUKACHEVO',
 'NERUBAYSK',
 'NIKOLAYEV',
 'NOVOVOLYNSK',
 'OBUKHOV',
 'ODESSA',
 'POKOTILOVKA',
 'POLTAVA',
 'POLYANICYA',
 'RADOMISHL',
 'RIVNE',
 'ROPOTUHA',
 'SHARYN',
 'SOLOMONOVO',
 'STRYY',
 'SUMY',
 'SVALYAVA',
 'TERNOPOL',
 'UMAN',
 'UZHGOROD',
 'VERHN KOROPET',
 'VINNITSA',
 'VISHNEVOYE',
 'VOLNYANSK',
 'VYSHGOROD',
 'YAREMCHE',
 'ZAPOROZHYE',
 'no city']

In [24]:
boryspil_list = country_selected[country_selected['city'] == 'BORYSPIL']['clientid'].unique().tolist()
len(boryspil_list)

14

In [25]:
kyiv_list = country_selected[country_selected['city'] == 'KYIV']['clientid'].unique().tolist()
len(kyiv_list)

435

In [21]:
boryspil_set = set(boryspil_list)

In [22]:
kyiv_set = set(kyiv_list)

In [23]:
boryspil_set & kyiv_set

{747, 770, 877, 3094, 3314, 4736, 5254, 5303, 6148, 6617, 6655, 9189, 9376}