In [23]:
import pandas as pd
import time
import datetime
import numpy as np

In [24]:
PATH_TO_DATA = 'Data'
TEST_FILE = 'looking_for_spy.csv'

In [25]:
def read_data(folder, file):
    df = pd.read_csv(folder + '/' + file)
    return df

In [26]:
spy_df = read_data(PATH_TO_DATA, TEST_FILE)

In [27]:
spy_df.head()

,Unnamed: 0,mcc,tranccy,ccy,amount,location,trandatetime,clientid,year,month,day,hour,country,city,institution,exchenge
0,0,13,978,980,-0.123179,TRAMBESOS SANT JOAN DES ES,1385977762,13,2013,December,Monday,11,ES,no city,TRAMBESOS,1.0
1,1,44,978,980,-0.118505,ZARA BARCELONA P GRACIABARCELONA ES,1385991764,13,2013,December,Monday,15,ES,BARCELONA,ZARA BARCELONA P GRACI,1.0
2,2,37,978,980,-0.110927,CAFE DE L'ACADEMIA BARCELONA ES,1385999148,13,2013,December,Monday,17,ES,BARCELONA,CAFE DE L'ACADEMIA,1.0
3,3,77,978,980,-0.110676,2D BCN DISSENY EN BIJUTBARCELONA ES,1385999979,13,2013,December,Monday,17,ES,BARCELONA,2D BCN DISSENY EN BIJU,1.0
4,4,44,978,980,-0.083314,EL GANSO BARCELONA ES,1386005648,13,2013,December,Monday,19,ES,BARCELONA,EL GANSO,1.0

In [28]:
spy_df['year'].unique()

array([2013, 2014, 2015], dtype=int64)

In [29]:
year_selected = spy_df[spy_df['year'] == 2015]

In [30]:
year_selected.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 57846 entries, 33928 to 92699
Data columns (total 16 columns):
Unnamed: 0      57846 non-null int64
mcc             57846 non-null object
tranccy         57846 non-null int64
ccy             57846 non-null int64
amount          57845 non-null float64
location        57846 non-null object
trandatetime    57846 non-null int64
clientid        57846 non-null int64
year            57846 non-null int64
month           57846 non-null object
day             57846 non-null object
hour            57846 non-null int64
country         57846 non-null object
city            57846 non-null object
institution     57846 non-null object
exchenge        57846 non-null float64
dtypes: float64(2), int64(7), object(7)
memory usage: 7.5+ MB

In [31]:
year_selected['month'].unique()

array(['January', 'February', 'March', 'April', 'May', 'June', 'July'],
      dtype=object)

In [32]:
month_selected = year_selected[year_selected['month']=='July']

In [33]:
month_selected.head()

,Unnamed: 0,mcc,tranccy,ccy,amount,location,trandatetime,clientid,year,month,day,hour,country,city,institution,exchenge
84315,84315,34,980,980,-0.134598,"DN00/Gorkogo str., 176 KIEV UA",1435734537,4685,2015,July,Wednesday,10,UA,KYIV,"DN00/Gorkogo str., 176",0.0
84316,84316,34,980,980,-0.165567,"DN00/Syrovtsa str.,27/2DNEPRODZER-SK UA",1435739733,2335,2015,July,Wednesday,11,UA,DNDZERZHYNSK,"DN00/Syrovtsa str.,27/",0.0
84317,84317,34,980,980,-0.165567,"DN00/Syrovtsa str.,27/2DNEPRODZER-SK UA",1435739781,2335,2015,July,Wednesday,11,UA,DNDZERZHYNSK,"DN00/Syrovtsa str.,27/",0.0
84318,84318,34,980,980,-0.165567,"DN00/Syrovtsa str.,27/2DNEPRODZER-SK UA",1435739815,2335,2015,July,Wednesday,11,UA,DNDZERZHYNSK,"DN00/Syrovtsa str.,27/",0.0
84319,84319,34,980,980,-0.165567,"DN00/Syrovtsa str.,27/2DNEPRODZER-SK UA",1435739848,2335,2015,July,Wednesday,11,UA,DNDZERZHYNSK,"DN00/Syrovtsa str.,27/",0.0

In [55]:
country_selected = month_selected[month_selected['country']=='UA']
country_selected_july = country_selected[country_selected['trandatetime'] > 1433106000]['clientid'].unique().tolist()
country_selected_july = set(country_selected_july)
len(country_selected_july)

874

In [35]:
country_selected.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7081 entries, 84315 to 92699
Data columns (total 16 columns):
Unnamed: 0      7081 non-null int64
mcc             7081 non-null object
tranccy         7081 non-null int64
ccy             7081 non-null int64
amount          7081 non-null float64
location        7081 non-null object
trandatetime    7081 non-null int64
clientid        7081 non-null int64
year            7081 non-null int64
month           7081 non-null object
day             7081 non-null object
hour            7081 non-null int64
country         7081 non-null object
city            7081 non-null object
institution     7081 non-null object
exchenge        7081 non-null float64
dtypes: float64(2), int64(7), object(7)
memory usage: 940.4+ KB

In [36]:
sorted(country_selected['city'].unique().tolist())

['BALAKLEYA',
 'BARANYNTSI',
 'BELAYA TSERKO',
 'BOLSHIE LAZY',
 'BORYSPIL',
 'BROVARY',
 'BUCHA',
 'BUZOVA',
 'CHERKASSY',
 'CHERNIVTSI',
 'DERGACHI',
 'DNDZERZHYNSK',
 'DNEPROPETR-SK',
 'DONETSK',
 'FURMANKA',
 'HODOSIVKA',
 'ILYICHEVSK',
 'IRPIN',
 'IRSHAVA',
 'IVANO-FRANK.',
 'KALYNIVKA',
 'KARLIVKA',
 'KHARKOV',
 'KHMELNITSKIY',
 'KINCHESH',
 'KLYACHANOVO',
 'KOROVIYA',
 'KRAKOVETS',
 'KREMENCHUG',
 'KYIV',
 'LADYZHYNKA',
 'LITIN',
 'LUTSK',
 'LVOV',
 'MIZIKEVYCHA',
 'MOSCOW',
 'MUKACHEVO',
 'NERUBAYSK',
 'NIKOLAYEV',
 'NOVOVOLYNSK',
 'OBUKHOV',
 'ODESSA',
 'POKOTILOVKA',
 'POLTAVA',
 'POLYANICYA',
 'RADOMISHL',
 'RIVNE',
 'ROPOTUHA',
 'SHARYN',
 'SOLOMONOVO',
 'STRYY',
 'SUMY',
 'SVALYAVA',
 'TERNOPOL',
 'UMAN',
 'UZHGOROD',
 'VERHN KOROPET',
 'VINNITSA',
 'VISHNEVOYE',
 'VOLNYANSK',
 'VYSHGOROD',
 'YAREMCHE',
 'ZAPOROZHYE',
 'no city']

In [37]:
boryspil_list = country_selected[country_selected['city'] == 'BORYSPIL']['clientid'].unique().tolist()
len(boryspil_list)

14

In [38]:
kyiv_list = country_selected[country_selected['city'] == 'KYIV']['clientid'].unique().tolist()
len(kyiv_list)

435

In [44]:
all_not_in_kiev = spy_df[spy_df['trandatetime']<1433538000]['clientid'].unique().tolist()
all_not_in_kiev_set = set(all_not_in_kiev)
len(all_not_in_kiev_set)

2025

In [51]:
borispol_presens = country_selected[country_selected['city'] == 'BORYSPIL']
july_presence = set(borispol_presens[borispol_presens['trandatetime'] > 1433106000]['clientid'].unique().tolist())
july_presence

{747,
 770,
 877,
 3094,
 3314,
 4553,
 4736,
 5254,
 5303,
 6148,
 6617,
 6655,
 9189,
 9376}

In [40]:
boryspil_set = set(boryspil_list)

In [41]:
kyiv_set = set(kyiv_list)

In [56]:
all_not_in_kiev_set & kyiv_set & boryspil_set & july_presence & country_selected_july

{747, 770, 877, 3094, 3314, 4736, 5254, 6148, 6617, 6655, 9189}

In [50]:
borispol_presens = country_selected[country_selected['city'] == 'BORYSPIL']
july_presence = borispol_presens[borispol_presens['trandatetime'] > 1433106000]['clientid'].unique().tolist()
july_presence

[4553,
 747,
 4736,
 6655,
 877,
 6148,
 3094,
 3314,
 6617,
 9189,
 9376,
 770,
 5254,
 5303]

In [58]:
user_list = [747, 770, 877, 3094, 3314, 4736, 5254, 6148, 6617, 6655, 9189]
for user in user_list:
    print(user, '\n', spy_df[spy_df['clientid'] == user]['city'].count().tolist())
    #print(user, '\n', spy_df[spy_df['clientid'] == user]['city'].unique().tolist())

747
 694
770
 75
877
 204
3094
 134
3314
 170
4736
 187
5254
 62
6148
 93
6617
 157
6655
 240
9189
 27

In [63]:
user_list = [747, 770, 877, 3094, 3314, 4736, 5254, 6148, 6617, 6655, 9189]
for user in user_list:
    user_df = spy_df[spy_df['clientid'] == user]
    print(user)
    for city in user_df['city'].unique().tolist():
        print(city, user_df[user_df['city'] == city]['mcc'].count())
        
    #print(user, '\n', spy_df[spy_df['clientid'] == user]['city'].count().tolist())
    #print(user, '\n', spy_df[spy_df['clientid'] == user]['city'].unique().tolist())

747
ODESSA 467
no city 27
SANKT-PETERBU 16
KYIV 146
BORYSPIL 8
PARIS 3
BELAYA TSERKO 1
LONDON 1
KRAKOW 6
POLYANICYA 1
YAREMCHE 1
DNEPROPETR-SK 1
ISTANBUL 7
LVOV 2
ANKARA 1
MIZIKEVYCHA 1
BUDAPEST 1
ROPOTUHA 3
SHARYN 1
770
no city 25
FIRENZE 6
MONACO 5
HODOSIVKA 1
KYIV 11
PARIS 6
DUBAI 12
ANTALYA 3
SOCHI 3
MOSCOW 2
BORYSPIL 1
877
ODESSA 146
SHARYN 2
BELAYA TSERKO 1
no city 19
ISTANBUL 1
NICE 1
KYIV 10
PARIS 4
FRANKFURT 1
LOS ANGELES 1
LAS VEGAS 2
SANTA MONICA 2
MOSCOW 1
MUENCHEN 1
PRAHA 3
MILANO 8
BORYSPIL 1
3094
KYIV 61
VALENCIA 12
no city 43
ALMATY 8
BORYSPIL 3
MOSCOW 2
KHIMKI 1
ODESSA 1
MONACO 1
BARCELONA 2
3314
no city 70
KYIV 77
MUENCHEN 1
HODOSIVKA 1
TEL AVIV 4
MIAMI 8
FRANKFURT 1
KHIMKI 2
LISBOA 1
OBUKHOV 1
BORYSPIL 1
CHERKASSY 3
4736
KYIV 100
BORYSPIL 79
DNEPROPETR-SK 8
5254
Wien 7
KYIV 33
no city 11
BORYSPIL 6
SURATTHANI 4
VYSHGOROD 1
6148
KYIV 84
BORYSPIL 5
GORA 1
no city 3
6617
KYIV 154
DNEPROPETR-SK 1
BORYSPIL 2
6655
KYIV 202
UZHGOROD 12
PODGORICA 1
BUDAPEST 4
no city 10
PARIS 1
LVOV 7
VALENCIA 2
BORYSPIL 1
9189
KYIV 25
BORYSPIL 1
no city 1

In [59]:
spy_df[spy_df['clientid'] == 747]

,Unnamed: 0,mcc,tranccy,ccy,amount,location,trandatetime,clientid,year,month,day,hour,country,city,institution,exchenge
393,393,35,980,980,-0.170235,T METRO_31 ODESSA UA,1393770979,747,2014,March,Sunday,16,UA,ODESSA,T METRO_31,0.0
542,542,37,980,980,-0.164452,CAFE TRYUM ODESSA UA,1394540967,747,2014,March,Tuesday,14,UA,ODESSA,CAFE TRYUM,0.0
545,545,46,980,980,-0.171243,SHOP EVA-426 ODESSA UA,1394547833,747,2014,March,Tuesday,16,UA,ODESSA,SHOP EVA-426,0.0
546,546,46,980,980,-0.178962,SHOP EVA-426 ODESSA UA,1394548077,747,2014,March,Tuesday,16,UA,ODESSA,SHOP EVA-426,0.0
565,565,74,980,980,-0.157360,TC RIVIERASHOPATRIYM FONFANSKAYA UA,1394817724,747,2014,March,Friday,19,UA,no city,TC RIVIERASHOPATRIYM,0.0
577,577,50,980,980,-0.150237,TOV NEW YORKER UKRAINE FONTANKA UA,1394818776,747,2014,March,Friday,19,UA,SANKT-PETERBU,TOV NEW YORKER UKRAINE,0.0
596,596,63,980,980,-0.177567,SMIK DYTIACHYI SVIT ODESA UA,1394021574,747,2014,March,Wednesday,14,UA,ODESSA,SMIK DYTIACHYI SVIT,0.0
609,609,37,980,980,-0.160534,RESTAURANT KEMER ODESA UA,1394636582,747,2014,March,Wednesday,17,UA,ODESSA,RESTAURANT KEMER,0.0
737,737,51,980,980,-0.173317,IZUMINKA.GORKOGO KYIV UA,1395303054,747,2014,March,Thursday,10,UA,KYIV,IZUMINKA.GORKOGO,0.0
930,930,48,980,980,-0.170212,DOM BELYAODESSA ODESSA UA,1396033490,747,2014,March,Friday,21,UA,ODESSA,DOM BELYAODESSA,0.0
931,931,48,980,980,-0.141102,RIVIERA RESERVED ODESSA UA,1396034257,747,2014,March,Friday,21,UA,ODESSA,RIVIERA RESERVED,0.0
932,932,48,980,980,-0.159559,10_OD_RIVERA ODESSA UA,1396035230,747,2014,March,Friday,21,UA,ODESSA,10_OD_RIVERA,0.0
942,942,34,980,980,-0.103630,ProCreditBank 44 ODESSA UA,1396115631,747,2014,March,Saturday,19,UA,ODESSA,ProCreditBank 44,0.0
949,949,35,980,980,-0.178836,VIRTUS ODESSA UA,1396295923,747,2014,March,Monday,22,UA,ODESSA,VIRTUS,0.0
980,980,42,980,980,-0.170212,CINEMA CITI.RESTAURANT ODESSA UA,1396103414,747,2014,March,Saturday,16,UA,ODESSA,CINEMA CITI.RESTAURANT,0.0
985,985,35,980,980,-0.174974,OVEN SHOP ODESA UA,1396118613,747,2014,March,Saturday,20,UA,ODESSA,OVEN SHOP,0.0
990,990,no mcc,980,980,-0.174083,DYT ROZV TSENTR LEOPARKODESKA OBL UA,1396191389,747,2014,March,Sunday,17,UA,ODESSA,DYT ROZV TSENTR LEOPAR,0.0
996,996,77,980,980,-0.164018,SHOP CACTUS DECOR FONTANKA UA,1396203815,747,2014,March,Sunday,21,UA,SANKT-PETERBU,SHOP CACTUS DECOR,0.0
1081,1081,48,980,980,-0.153334,RIVIERA RESERVED ODESSA UA,1396130400,747,2014,March,Sunday,0,UA,ODESSA,RIVIERA RESERVED,0.0
1090,1090,86,980,980,-0.150082,MARISTELA CLUB FOP GLAZODESA UA,1396295305,747,2014,March,Monday,22,UA,ODESSA,MARISTELA CLUB FOP GLA,0.0
1144,1144,57,980,980,-0.163085,SHOP ANTOSHKA SENAFOR ODESA UA,1396712616,747,2014,April,Saturday,18,UA,ODESSA,SHOP ANTOSHKA SENAFOR,0.0
1145,1145,37,980,980,-0.173866,KAFE TOKIO HOUSE ODESSA UA,1396715615,747,2014,April,Saturday,19,UA,ODESSA,KAFE TOKIO HOUSE,0.0
1146,1146,37,980,980,-0.171699,CAFE TOKIO HAUS ODESA UA,1396715666,747,2014,April,Saturday,19,UA,ODESSA,CAFE TOKIO HAUS,0.0
1180,1180,37,980,980,-0.172711,KAFE TOKIO HOUSE ODESSA UA,1396642169,747,2014,April,Friday,23,UA,ODESSA,KAFE TOKIO HOUSE,0.0
1181,1181,37,980,980,-0.165691,CAFE TOKIO HAUS ODESA UA,1396642206,747,2014,April,Friday,23,UA,ODESSA,CAFE TOKIO HAUS,0.0
1234,1234,35,980,980,-0.178488,UNIVERSAM SILPO ODESSA UA,1396790953,747,2014,April,Sunday,16,UA,ODESSA,UNIVERSAM SILPO,0.0
2122,2122,35,980,980,-0.147244,VIRTUS ODESSA UA,1398929260,747,2014,May,Thursday,10,UA,ODESSA,VIRTUS,0.0
2243,2243,33,980,980,-0.142340,ODESA REGIONAL DEP. ODESSA UA,1401199177,747,2014,May,Tuesday,16,UA,ODESSA,ODESA REGIONAL DEP.,0.0
2379,2379,80,980,980,-0.146599,RESERVED_SITI CENTR ODESSA UA,1400264723,747,2014,May,Friday,21,UA,ODESSA,RESERVED_SITI CENTR,0.0
2380,2380,80,980,980,-0.178806,HOUSE_SITI CENTR ODESSA UA,1400265628,747,2014,May,Friday,21,UA,ODESSA,HOUSE_SITI CENTR,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85174,85174,68,978,980,-0.050584,SPLASH BY THE SEA Germasogeia CYCY,1435851686,747,2015,July,Thursday,18,CY,no city,SPLASH BY THE SEA,1.0
85481,85481,62,980,980,-0.061241,DUTY FREE KYIVRIANTA BORYSPIL UAUA,1435767658,747,2015,July,Wednesday,19,UA,BORYSPIL,DUTY FREE KYIVRIANTA,0.0
85635,85635,62,980,980,-0.163631,SHOP DUTY FREE BORYSPIL UAUA,1435868134,747,2015,July,Thursday,23,UA,BORYSPIL,SHOP DUTY FREE,0.0
85673,85673,34,978,980,-0.012886,HELLENIC BANK - ATM 23 Agios AthanasCYCY,1435936948,747,2015,July,Friday,18,CY,no city,HELLENIC BANK - ATM 23,1.0
85824,85824,83,978,980,-0.082798,ZARA HOME MY MALL Lemesos CYCY,1435942252,747,2015,July,Friday,19,CY,no city,ZARA HOME MY MALL,1.0
85861,85861,83,978,980,-0.110296,ZARA HOME MY MALL Lemesos CYCY,1436095931,747,2015,July,Sunday,14,CY,no city,ZARA HOME MY MALL,1.0
87201,87201,42,980,980,-0.147721,VARENYCHNA VOKZAL KYIV UAUA,1436209684,747,2015,July,Monday,22,UA,KYIV,VARENYCHNA VOKZAL,0.0
87296,87296,42,980,980,-0.173851,VARENYCHNA VOKZAL KYIV UAUA,1436209653,747,2015,July,Monday,22,UA,KYIV,VARENYCHNA VOKZAL,0.0
87411,87411,48,980,980,-0.018466,Kochchinelli55 ODESSA UAUA,1436278237,747,2015,July,Tuesday,17,UA,ODESSA,Kochchinelli55,0.0
87870,87870,36,980,980,-0.101009,TAVRIYA PLUS ODESA UAUA,1436275835,747,2015,July,Tuesday,16,UA,ODESSA,TAVRIYA PLUS,0.0
88272,88272,44,980,980,-0.135218,DIMOKEAN KIYEV UAUA,1436438777,747,2015,July,Thursday,13,UA,KYIV,DIMOKEAN,0.0
88795,88795,38,980,980,-0.170824,SOCAR PETROL STATIONS ROPOTUHA UAUA,1436485317,747,2015,July,Friday,2,UA,ROPOTUHA,SOCAR PETROL STATIONS,0.0
88796,88796,38,980,980,-0.179736,SOCAR PETROL STATIONS ROPOTUHA UAUA,1436485266,747,2015,July,Friday,2,UA,ROPOTUHA,SOCAR PETROL STATIONS,0.0
88797,88797,38,980,980,-0.099522,SOCAR PETROL STATIONS ROPOTUHA UAUA,1436485786,747,2015,July,Friday,2,UA,ROPOTUHA,SOCAR PETROL STATIONS,0.0
88800,88800,38,980,980,-0.142587,SOCAR PETROL STATIONS ODESA UAUA,1436497569,747,2015,July,Friday,6,UA,ODESSA,SOCAR PETROL STATIONS,0.0
88864,88864,65,980,980,-0.140018,SALON DREAM HAIR KYIV UAUA,1436455089,747,2015,July,Thursday,18,UA,KYIV,SALON DREAM HAIR,0.0
88970,88970,36,980,980,0.002902,TFANT4 ODESSA UAUA,1436528170,747,2015,July,Friday,14,UA,ODESSA,TFANT4,0.0
89142,89142,38,980,980,-0.163639,AZS KRYVE OZERO 2 WOG KRYVE OZERO UAUA,1436423802,747,2015,July,Thursday,9,UA,no city,AZS KRYVE OZERO 2 WOG,0.0
89146,89146,38,980,980,-0.107888,SOCAR PETROL STATIONS SHARYN UAUA,1436429122,747,2015,July,Thursday,11,UA,SHARYN,SOCAR PETROL STATIONS,0.0
89149,89149,38,980,980,-0.173003,AZS SOKOLIVKA SOKOLIVKA UAUA,1436434680,747,2015,July,Thursday,12,UA,no city,AZS SOKOLIVKA,0.0
89154,89154,48,980,980,-0.140173,CALZEDONIA KYIV UAUA,1436439333,747,2015,July,Thursday,13,UA,KYIV,CALZEDONIA,0.0
89488,89488,33,980,980,0.593163,ODESA REGIONAL DEP. ODESSA UA,1436770759,747,2015,July,Monday,9,UA,ODESSA,ODESA REGIONAL DEP.,0.0
89781,89781,65,980,980,-0.069564,ALDO COPPOLA ODESA UAUA,1436795018,747,2015,July,Monday,16,UA,ODESSA,ALDO COPPOLA,0.0
90004,90004,37,980,980,-0.112533,TREF ODESA UA,1436901113,747,2015,July,Tuesday,22,UA,ODESSA,TREF,0.0
90005,90005,37,980,980,-0.077384,TREF ODESA UA,1436901182,747,2015,July,Tuesday,22,UA,ODESSA,TREF,0.0
90083,90083,37,980,980,0.237179,Veranda77 ODESSA UAUA,1436822321,747,2015,July,Tuesday,0,UA,ODESSA,Veranda77,0.0
90944,90944,35,980,980,-0.172965,OVEN ODESA UAUA,1436980226,747,2015,July,Wednesday,20,UA,ODESSA,OVEN,0.0
91841,91841,42,980,980,-0.171915,Devalan75 ODESSA UAUA,1437160500,747,2015,July,Friday,22,UA,ODESSA,Devalan75,0.0
91916,91916,no mcc,980,980,0.407352,FOX0058 ODESSA UAUA,1437238154,747,2015,July,Saturday,19,UA,ODESSA,FOX0058,0.0
92042,92042,59,980,980,1.239141,MAGAZIN04029 ODESSA UAUA,1437233526,747,2015,July,Saturday,18,UA,ODESSA,MAGAZIN04029,0.0